@media only screen and (min-width: 769px) {
  .filters {
    width: 100%;
    height: 300px;
    padding: 50px 140px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ffffff;

    .filter-box {
      width: 20%;
      height: 100%;

      position: relative;

      > p {
        width: 100%;
        height: 18%;

        position: absolute;
        top: 30%;
        left: 0;

        font-style: normal;
        font-size: 14px;
        line-height: 22px;

        color: #848484;
      }

      > img {
        height: 30%;

        position: absolute;
        bottom: 70%;
        left: 0;
      }

      > select {
        width: 51%;
        height: 18%;
        padding-left: 18px;

        cursor: pointer;
        outline: none;

        position: absolute;
        bottom: 0;
        left: 0;

        border: 1px solid #a8a8a8;
        border-radius: 19px;

        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 27px;
        color: #a8a8a8;
        background-color: #ffffff;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .filters {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-color: #ffffff;

    .filter-box {
      width: 100%;
      height: min-content;
      padding: 20px 12.5%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      > p {
        width: 91.25%;
        margin-bottom: 25px;

        font-style: normal;
        font-size: 14px;
        line-height: 22px;

        color: #848484;
      }

      > img {
        width: 31.25%;
      }

      > select {
        width: 40%;
        height: 40px;
        padding-left: 18px;

        cursor: pointer;
        outline: none;

        border: 1px solid #a8a8a8;
        border-radius: 19px;

        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 27px;
        color: #a8a8a8;
        background-color: #ffffff;
      }
    }
  }
}
